body {
  background: linear-gradient(to right, blue, violet);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
  font: 700 3.5em "Noto Serif", sans-serif;
  font-size: 5vw;
}

h2 {
  text-align: center;
  letter-spacing: 0.3em;
  font: 900 2em "Noto Serif", sans-serif;
}

.randombutton {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

button {
  font-size: 20px;
  padding: 10px 24px;
  border-radius: 8px;
  letter-spacing: 0.1em;
  background-color: #555555;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
